*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.list-container{
    border: 1px solid black;
    border-radius: 40px;
    padding: 5%;
}

.strike-text{
    text-decoration: line-through;
}